html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fffcf9;
    color: #ef476f;
    font-family: sans-serif;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.other, .column {
    border: 2px solid #06d6a0;
}

.other *, .column * {
    white-space: nowrap;
}

.row, .column {
    width: 100%;
    height: 100%;
}

.row:first-child {
    height: 30%;
}

.row:first-child .column {
    width: 30%;
    float: left;
}
.row:first-child .column:last-child {
    width: 70%;
}

.row:last-child .column {
    height: 70%;
}

